body {
    margin: 0;
}

#root{
    position: absolute;
    top: -21px;
    display: grid;  
    grid-template-rows: 1fr 76px;
    height: calc(21px + 100%);
    width: 100%;
    overflow: hidden;
    background-color: #161616;
}

#forma_input{
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #161616;
}

#text_input_container{
    margin: 10px;
}

#button_send{
    background-color:#00ff00;
    color: #161616;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    height: 56px;
}

#MessageGrid{
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    justify-content: flex-end;
}

.mes_user{
    background-color: #00ff00;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-left: auto;
    margin-top: 3px;
    margin-right: 10px;
}