body {
    margin: 0;
}

#root{
    position: absolute;
    top: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #161616;
    width: 100%;
}

#root_for_main{
    display: grid;  
    grid-template-rows: 1fr 76px;
    width: 100%;
    height: 100%;
}

#forma_input{
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #161616;
}

#text_input_container{
    margin: 10px;
}

#button_send{
    background-color:#fde910;
    color: #161616;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    height: 56px;
}

#MessageGrid{
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    justify-content: flex-end;
}

.mes_user{
    background-color: #00ff00;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-left: auto;
    margin-top: 3px;
    margin-right: 10px;
    white-space: pre-wrap;
}

.mes_other{
    background-color: #fde910;
    border-radius: 20px;
    border-bottom-left-radius: 5px;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-right: auto;
    margin-top: 3px;
    margin-left: 10px;
    white-space: pre-wrap;
}

.text_mes_other{
    color: black;
}

#card_vxod{
    padding: 10px;
    width: 30vw;
    background-color: #00ff00;
    border-radius: 10px;
    animation: visible_not_visible 2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#card_reg{
    padding: 10px;
    width: 30vw;
    background-color: #fde910;
    border-radius: 10px;
    animation: visible_not_visible 2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reg_label{
    padding: 10px;
    margin: 0px;
    background-color: #161616;
    border-radius: 10px;
    color: #fde910;
    text-align: center;
}

@keyframes visible_not_visible {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#vxod_label{
    padding: 10px;
    margin: 0px;
    background-color: #161616;
    border-radius: 10px;
    color:#00ff00;
    text-align: center;
}

#vxod_data{
    background-color: #161616;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}