@use "variables";

@mixin BUTTON_styled($color) {
    color: variables.$background_color;
    border-radius: 10px;
    border: $color 3px solid;
    background-color: $color;
    &:hover{
        cursor: pointer;
    }
}