@use "variables";

@mixin BUTTON_styled($color) {
    color: variables.$background_color;
    border-radius: 10px;
    border: $color 3px solid;
    background-color: $color;
    transition: all 0.5s ease;
    &:hover{
        background-color: darken($color, 20%);
        border-color: darken($color, 20%);
        transition: all 0.5s ease;
    }
}